.main {
    height: 369px;
    background-color: #2a2c2e;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header > .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link1,.link2,.link3{
    margin-top: 8px;
}

.btn1,.btn2,.btn3{
    background-color: transparent;
    font-size: 19px;
    color: rgb(235, 235, 235);
    border: none;
    transition-duration: 0.33s;
}

.btn1:hover,.btn2:hover,.btn3:hover{
    color: #bfc5cd;
    transition-duration: 0.33s;
}

.margin{
    width: 1000px;
    margin-left: 150px;
    margin-right: 165px;
}

.logo {
    margin-top: 5px;
    width: 41px;
    border-radius: 10px;
}

.main-footer-text{
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.text{
    margin-bottom: 6px;
    font-size: 18px;
    color: #E5E7EB;
}

.signup-btn{
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
}

.signup-btn:hover{
    background-color: #a9a9a9;
    color: black;
}

.main-footer{
    display: flex;
    justify-content: space-between;
}

.text{
    width: 450px;
    margin-bottom: 40px;
}

.img-div{
    align-content: end;
    transition-duration: 0.5s;
}

.img-div:hover{
    transition-duration: 0.5s;
    margin-top: 20px;
}

.mus{
    width: 240px;
    height: 250px;
    margin-right: 7.9px;
    margin-top: 55px;
    object-fit: cover;
    transition-duration: 0.4s;
}

.mus:hover{
    filter: brightness(60%);
    transition-duration: 0.4s;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.content{
    width:800px;
}

.header-div{
    display: flex;
    justify-content: center;
}

.header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.four-pics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.gym-div,.diet-div,.prod-div,.chall-div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 150px;
    height: 150px;

}

.gym,.chall,.diet,.prod{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #5d646f;
    object-fit: cover;
    -moz-box-shadow: 0 0 5px #8c8686;
    -webkit-box-shadow: 0 0 5px #8c8686;
    box-shadow: 0px 0px 5px #8c8686;
}

.gym:hover,.chall:hover,.diet:hover,.prod:hover{
    opacity: 70%;
}



.quote-main{
    background-color: #E5E7EB;
    height: 400px;
}